body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    color: #eb09cd;
}

header, footer {
    background-color: #efebeb;
    color: #10e955;
    padding: 1.5rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    background: #5bcae0;
    border-radius: 8px;
    margin-top: 24px;
}

button {
    padding: 0.7rem 1.5rem;
    margin-top: 1rem;
    background-color: #008CBA;
    color: #a0994f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1a0101;
}
